<div class="clearfix">
	<div class="col-md-12">
		<md-input-container>
			<input mdInput placeholder="请键入筛选项..." value="" [(ngModel)]="searchText"></md-input-container>
		<md-slide-toggle (change)="selectAll(slideToggleModel)" [(ngModel)]="slideToggleModel" [checked]="slideToggleModel">全选</md-slide-toggle>
	</div>

	<div class="col-md-2">
		<h3 class="multiple-title">请选择</h3>
		<md-list>
			<md-list-item *ngFor="let item of items | searchTextFilter: [searchText,assignFilterItem]">
				<md-chip-list>
					<md-chip class="chip-item-unselect" [selected]="item.selected" (click)="onToggle(item)">{{item[assignFilterItem]}}</md-chip>
				</md-chip-list>
			</md-list-item>
		</md-list>
	</div>
	<div class="col-md-3">
		<h3 class="multiple-title">已选项</h3>
		<md-list>
			<span *ngFor="let item of items">
				<md-chip *ngIf="item.selected" [selected]="item.selected"  class="chip-item" hover (click)="cancleSelected(item)">
					<span class="chip-item-label">{{item[assignFilterItem]}}</span>
					 <i class="icon-close-cyan selectedItem-close"></i>
				</md-chip>
			</span>
		</md-list>
	</div>
</div>