<div class="clearfix">
	<div class="col-md-12">
		<md-input-container>
			<input mdInput placeholder="请键入筛选项..." value="" [(ngModel)]="searchText"></md-input-container>
	</div>

	<div class="col-md-12 multiple-data-list">
		<md-grid-list [cols]=colsTitle.length+1 rowHeight="35px">
			<md-grid-tile>
				<md-slide-toggle (change)="selectAll(slideToggleModel)" [(ngModel)]="slideToggleModel" [checked]="slideToggleModel">全选</md-slide-toggle>
			</md-grid-tile>
			<md-grid-tile class="text-center" *ngFor="let title of colsTitle"><h3>{{title}}</h3></md-grid-tile>
			<div *ngFor="let item of items | searchTextFilter: [searchText, assignFilterItem]">
				<md-grid-tile>
					<md-checkbox (change)="onToggle(item)" [checked]="item.checked"></md-checkbox>
				</md-grid-tile>
				<md-grid-tile *ngFor="let key of keyArray">{{item[key]}}</md-grid-tile>
			</div>
		</md-grid-list>
	</div>
	<div class="col-md-12">
		<h2 class="multiple-title">已选项</h2>
		<div class="multiple-selected">
			<div class="multiple-selected-item" *ngFor="let item of items">
				<!-- <span *ngIf="item.checked">{{item[assignFilterItem]}}</span> -->
				<md-chip *ngIf="item.checked" [selected]="item.checked"  class="chip-item" hover (click)="cancleSelected(item)">
					<span class="chip-item-label">{{item[assignFilterItem]}}</span>
					 <i class="icon-close-cyan selectedItem-close"></i>
				</md-chip>
			</div>
		</div>
	</div>
</div>